[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"
flask-bcrypt = "*"
pyjwt = "*"
flask-json = "*"
flask-restless = "*"
requests = "*"
simple-crypt = "*"
pycryptodome = "*"
cryptography = "*"
flask-environments = "*"

[dev-packages]

[requires]
python_version = "3.8"
