flask
flask-sqlalchemy
flask-marshmallow
marshmallow-sqlalchemy
flask-migrate
flask-script
marshmallow
flask-bcrypt
pyjwt
flask-json
flask-restless
requests
cryptography
flask-environments
flask-json-schema
bandit
pycryptodome
python-dotenv
pyhibp
pycryptodomex
flask-unittest
Flask-WTF